/.project
/.pydevproject
/.settings
.ropeproject

# Eve
run.py
settings.py

# Python
*.py[co]

# Gedit
*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# SublimeText project files
*.sublime-*

# vim temp files
*.swp

#virtualenv
Include
Lib
Scripts

#OSX
.Python
.DS_Store

#Sphinx
_build

# PyCharm
.idea
