docutils==0.12
flake8==2.3.0
mccabe==0.3
pep8==1.5.7
pip-tools==0.3.5
pip-review==0.4
py==1.4.26
pyflakes==0.8.1
Pygments==2.0.1
pytest==2.6.4
redis==2.10.3
Sphinx==1.2.3
tox==1.8.1
wheel==0.24.0
testfixtures==4.1.2
-e git+https://github.com/nicolaiarocci/alabaster.git@15d190f29f86141aab202843f2bf3edfde71e56c#egg=al
sphinxcontrib-embedly
