include CHANGES.rst LICENSE AUTHORS README.rst
recursive-include tests *
recursive-include docs *
recursive-include examples *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-exclude examples *.pyo
recursive-exclude examples *.pyc
recursive-exclude * __pycache__
prune docs/_build
prune docs/_themes/.git
